<div class="container ">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mt-5">
        <h1 class="display-4">Members</h1>
    </div>
    <div class="row">
        <div *ngFor="let user of users" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <ul class="list-group">
                        <li class="list-group-item disabled" aria-disabled="true">Correo: {{user.email}}</li>
                        <li class="list-group-item">Nombre de usuario: {{user.username}}</li>
                        <li class="list-group-item">Telefono{{user.phone}}</li>
                        <li class="list-group-item">Pagina web{{user.website}}</li>
                        <li class="list-group-item">Compañia{{user.company.name}}</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>